extends layout

block content
  h1 Leaderboard
  p.lead 
    span.countdown-timer= 60
    | &nbsp;seconds until next award.
  hr
  .row
    .col-sm-4
      a.vote-box.red-box(data-color="red")
        center
          h2 Vote Red
    .col-sm-4
      a.vote-box.blue-box(data-color="blue")
        center
          h2 Vote Blue
      
    .col-sm-4
      a.vote-box.green-box(data-color="green")
        center
          h2 Vote Green
  .row
    .col-xs-12
      table.table
        thead
          tr
            th= "Position"
            th= "Player"
            th= "Points"
        tbody
          each player in users
            tr
              td= player.email
              td= player.username
              td= player.points
